<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <div class="container">

        <%- include('layouts/navbar'); -%>

        <h1>Users saved to mongoDB.</h1>

        <table class="table">

            <thead>

                <tr>

                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Telephone Number</th>

                </tr>

            </thead>

            <tbody>

                <% usersList.forEach(user => { %>

                    <tr>

                        <th scope="row"><%=  user._id %></th>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.DOB %></td>
                        <td><%= user.tel %></td>

                    </tr>

                <% }) %>

            </tbody>

        </table>

    </div>

    <%- include('layouts/footer'); -%>

    <%- include('layouts/scripts'); -%>
    
</body>

</html>
